:root {
  --gallery: #F0F0F0;
  --java: #26C9C3;
  --bunting: #191349;
  --white: #FFFFFF;
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  min-height: 100vh;
  padding: 1rem;
}

.input_container {
  --icon-color: var(--bunting);
  --text-color: var(--bunting);

  align-items: center;
  background-color: var(--java);
  border-radius: 0.5rem;
  display: flex;
  max-width: 23rem;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  &[data-password-visible="true"] {
    --icon-color: var(--java);
    --text-color: var(--white);

    &::after {
      border-radius: 0;
      transform: scale(1, 1) translateX(0);
    }

    .eyelid {
      transform: scaleY(-1);
    }

    .pupil {
      clip-path: ellipse(30px 20px at 17px 57px);
      transform: translateY(0.375rem);
    }
  }

  &::after {
    background-color: var(--bunting);
    border-radius: 50%;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: scale(0.12, 0.7) translateX(-9rem);
    transform-origin: center right;
    transition: transform 330ms var(--easing);
    width: 100%;
  }
}

.icon_lock {
  color: var(--icon-color);
  z-index: 1;
}

.input_field {
  background-color: transparent;
  border: none;
  border-left: 2px solid var(--white);
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 500;
  height: 100%;
  margin: 0 1rem;
  padding: 0.5rem;
  width: 100%;
  z-index: 1;

  &::placeholder {
    color: var(--text-color);
    opacity: 0.85;
  }

  &:focus {
    outline: 1px solid var(--white);
  }
}

.input_btn-toggle {
  align-items: center;
  background-color: var(--bunting);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 3rem;
  min-width: 3rem;
  padding: 0.5rem;
  z-index: 1;

  svg {
    color: var(--java);
    height: 100%;
    overflow: visible;
    width: 100%;

    .eyelid {
      transition: transform 250ms var(--easing);
      transform-origin: 4rem 4.4rem;
    }

    .pupil {
      clip-path: ellipse(30px 20px at 13px 14px);
      transform: translateY(0);
      transition: clip-path 375ms var(--easing), transform 375ms var(--easing);
    }
  }
}
